environment {
    CLUTTER_BACKEND "wayland"
    DISPLAY ":0"
    ELECTRON_ENABLE_HARDWARE_ACCELERATION "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    GDK_BACKEND "wayland,x11"
    GTK_THEME "oomox-snazzy"
    JAVA_AWT_WM_NONEREPARENTING "1"
    MOZ_ENABLE_WAYLAND "1"
    NIXOS_OZONE_WL "1"
    NIXPKGS_ALLOW_UNFREE "1"
    OZONE_PLATFORM "wayland"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    SDL_VIDEODRIVER "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}
binds {
    Ctrl+Print {
        screenshot-window
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+C {
        center-window
    }
    Mod+Comma {
        consume-window-into-column
    }
    Mod+Down {
        focus-workspace-down
    }
    Mod+Equal {
        set-column-width "+10%"
    }
    Mod+F {
        maximize-column
    }
    Mod+H {
        focus-column-left
    }
    Mod+I {
        spawn "fuzzel-clip"
    }
    Mod+J {
        focus-window-or-workspace-down
    }
    Mod+K {
        focus-window-or-workspace-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+Left {
        focus-column-left
    }
    Mod+Minus {
        set-column-width "-10%"
    }
    Mod+Period {
        expel-window-from-column
    }
    Mod+Q {
        close-window
    }
    Mod+Return {
        spawn "kitty"
    }
    Mod+Right {
        focus-column-right
    }
    Mod+S {
        switch-preset-column-width
    }
    Mod+Shift+Alt+S {
        screenshot-window
    }
    Mod+Shift+Ctrl+J {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+K {
        move-column-to-monitor-up
    }
    Mod+Shift+Equal {
        set-window-height "+10%"
    }
    Mod+Shift+F {
        expand-column-to-available-width
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Shift+J {
        move-column-to-workspace-down
    }
    Mod+Shift+K {
        move-column-to-workspace-up
    }
    Mod+Shift+L {
        move-column-right
    }
    Mod+Shift+Minus {
        set-window-height "-10%"
    }
    Mod+Shift+S {
        screenshot
    }
    Mod+Shift+Space {
        fullscreen-window
    }
    Mod+Shift+X {
        spawn "kitty" "-e" "viu"
    }
    Mod+Space {
        toggle-window-floating
    }
    Mod+T {
        spawn "dolphin"
    }
    Mod+Tab {
        toggle-overview
    }
    Mod+Up {
        focus-workspace-up
    }
    Mod+grave {
        switch-focus-between-floating-and-tiling
    }
    Print {
        screenshot-screen
    }
    Shift+Print {
        screenshot
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "/home/antonio/.local/bin/brightness" "--dec"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "/home/antonio/.local/bin/brightness" "--inc"
    }
}
spawn-at-startup "uwsm" "finalize"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "app2unit" "-t" "service" "-b" "b" "foot" "--server"
spawn-at-startup "app2unit" "-t" "service" "-b" "b" "stash" "watch"
spawn-at-startup "app2unit" "-t" "service" "-s" "s" "hjem-impure"
spawn-at-startup "app2unit" "-t" "service" "-s" "s" "arrpc"
spawn-at-startup "app2unit" "-t" "service" "-s" "s" "nm-applet"
spawn-at-startup "systemctl" "--user" "start" "xdg-desktop-portal-kde"
spawn-at-startup "systemctl" "--user" "start" "xdg-desktop-portal"
spawn-at-startup "systemctl" "--user" "start" "xdg-desktop-portal-wlr"
spawn-at-startup "app2unit" "-t" "service" "-s" "b" "noctalia"
//This was a nightmare to make but here
// original code from; https://github.com/XansiVA
input {
    keyboard {
        xkb {
            layout "us"
            model ""
            rules ""
            variant ""
            options "caps:swapescape"
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        tap
        dwt
        dwtp
        middle-emulation
        accel-profile "adaptive"
        scroll-method "two-finger"
        click-method "button-areas"
        tap-button-map "left-right-middle"
        scroll-factor 0.7
    }
    warp-mouse-to-focus
    focus-follows-mouse
    workspace-auto-back-and-forth
}
output "HDMI-A-1" {
    scale 1.0
    transform "normal"
    mode "1920x1080"
}
window-rule {
    draw-border-with-background false
    geometry-corner-radius 2.0 2.0 2.0 2.0
    clip-to-geometry true
}
window-rule {
    match app-id="^niri$"
    match app-id="^quickshell$"
    match app-id="^noctalia-shell$"
    opacity 0.85
    background-effect {
        blur true
    }
}
window-rule {
    match app-id="^kitty$" title="^termfilechooser$"
    default-column-width {
        proportion 0.5
    }
    default-window-height {
        proportion 0.5
    }
    open-floating true
    default-floating-position relative-to="top" x=10 y=10
}
window-rule {
    match is-focused=false
    opacity 0.8
}
window-rule {
    match is-floating=true
    shadow {
        on
    }
}
window-rule {
    match is-window-cast-target=true
    border {
        inactive-color "#a9b1d600 "
    }
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#a9b1d600 "
    }
    shadow {
        color "#f38ba800 "
    }
    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#a9b1d600"
    }
}
window-rule {
    match app-id="org.telegram.desktop"
    block-out-from "screencast"
}
window-rule {
    match app-id="app.drey.PaperPlane"
    block-out-from "screencast"
}
window-rule {
    match app-id="^(zen|firefox|chromium-browser|chrome-.*|zen-.*)$"
    match app-id="^(xdg-desktop-portal-gtk)$"
    scroll-factor 0.85
}
window-rule {
    match app-id="^(info.febvre.Komikku)$"
    scroll-factor 1.58
}
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="zen-.*$" title="^Picture-in-Picture$"
    match title="^Picture in picture$"
    match title="^Discord Popout$"
    open-floating true
    default-floating-position relative-to="top-right" x=32 y=32
}
window-rule {
    match app-id="^(org.wezfurlong.wezterm)$"
    match app-id="^(kitty)$"
    match app-id="^(com.mitchellh.ghostty)$"
    match app-id="^(firefox-nightly)$"
    match app-id="^(zen-browser)$"
    opacity 0.85
    background-effect {
        blur true
    }
}
window-rule {
    match app-id="^(dropdown)$"
    match app-id="^file_chooser$"
    default-column-width {
        proportion 0.5
    }
    default-window-height {
        proportion 0.5
    }
    open-floating true
    default-floating-position relative-to="top" x=10 y=10
}
window-rule {
    match app-id="^(pwvucontrol)" title=""
    open-floating true
}
window-rule {
    match app-id="^(Volume Control)" title=""
    open-floating true
}
window-rule {
    match app-id="^(dialog)" title=""
    open-floating true
}
window-rule {
    match app-id="^(file_progress)" title=""
    open-floating true
}
window-rule {
    match app-id="^(confirm)" title=""
    open-floating true
}
window-rule {
    match app-id="^(download)" title=""
    open-floating true
}
window-rule {
    match app-id="^(error)" title=""
    open-floating true
}
window-rule {
    match app-id="^(notification)" title=""
    open-floating true
}
window-rule {
    match app-id="^(thunar)" title=""
    open-floating true
}
window-rule {
    match app-id="^(discord)" title=""
    open-floating true
}
window-rule {
    match app-id="^(spotify)" title=""
    open-floating true
}
window-rule {
    match app-id="^(hiddify)" title=""
    open-floating true
}
window-rule {
    match app-id="^(mpv)" title=""
    open-floating true
}
window-rule {
    match app-id="^(com.mitchellh.ghostty)" title=""
    open-floating true
}
window-rule {
    match app-id="^(org.kde.dolphin)" title=""
    open-floating true
}
window-rule {
    match app-id="^(org.Waytrogen.Waytrogen)" title=""
    open-floating true
}
window-rule {
    match app-id="^(waypaper)" title=""
    open-floating true
}
window-rule {
    match app-id="^(org.wezfurlong.wezterm|ghostty|Kvantum|dolphin|niri)$"
    open-maximized false
}
window-rule {
    match app-id="^(zen|equibop|firefox-nightly|firefox|chromium-browser|edge|chrome-.*|zen-.*)$"
    open-maximized false
    default-column-width {
        proportion 0.7
    }
}
window-rule {
    match app-id="^(info.febvre.Komikku)$" title="^(Komikku)$"
    default-column-width {
        proportion 0.7
    }
}
window-rule {
    match app-id="$zen-browser$" title="online Myanmar dictionary — Zen Browser"
    default-column-width {
        proportion 0.3
    }
}
layer-rule {
    match namespace="^swww-daemon$"
    match namespace="^wallpaper$"
    match namespace="^noctalia-overview*"
    match namespace="^noctalia-wallpaper*"
    match namespace="^quickshell*"
    place-within-backdrop true
    background-effect {
        blur true
    }
}
workspace "general" {
    layout {
        default-column-width {
            proportion 0.5
        }
        always-center-single-column true
        center-focused-column "never"
    }
}
workspace "media" {
    layout {
        default-column-width {
            proportion 0.5
        }
        always-center-single-column true
        center-focused-column "never"
    }
}
workspace "manga" {
    layout {
        gaps 6
        struts {
            left 2
            right 2
            top 10
            bottom 10
        }
        background-color "transparent"
        center-focused-column "never"
        preset-column-widths {
            proportion 0.7
            proportion 0.3
        }
    }
}
screenshot-path "~/Pictures/Screenshots/Screenshot-from-%Y-%m-%d-%H-%M-%S.png"
prefer-no-csd
overview {
    backdrop-color "#11121d"
}
layout {
    empty-workspace-above-first false
    gaps 6
    struts {
        left 2
        right 2
        top 5
        bottom 5
    }
    focus-ring {
        off
    }
    border {
        width 3
        active-gradient angle=120 from="#a6e3a1" to="#f9e2af" to="#f38ba8" to="#89b4fa" in="oklch longer hue"
        inactive-gradient angle=180 from="#414868" to="#1e1e2e" in="oklch shorter hue"
        urgent-gradient from="#800" to="#a33" angle=45
    }
    background-color "transparent"
    shadow {
        on
        offset x=2 y=2
        softness 40
        spread 6
        draw-behind-window false
        color "rgba(0, 0, 0, 0.5)"
    }
    tab-indicator {
        hide-when-single-tab
        gap -12.0
        width 4.0
        length total-proportion=0.1
        gaps-between-tabs 10.0
        corner-radius 10.0
    }
    default-column-width {
        proportion 0.5
    }
    preset-column-widths {
        proportion 0.33
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }
    center-focused-column "never"
    always-center-single-column
}
cursor {
    xcursor-theme "Kokomi_Cursor"
    xcursor-size 32
}
hotkey-overlay {
    skip-at-startup
}
include "./noctalia.kdl"
include "./animations/pixelate.kdl"
