cursor {
    xcursor-theme "Yuurei-Angel"
    xcursor-size 36
}
output "eDP-1" {
    scale 1
    position x=0 y=0
    focus-at-startup
}
layer-rule {
    match namespace="dms:blurwallpaper"
    match namespace="^noctalia-shell$"
    match namespace="noctalia-shell:wallpaper"
    place-within-backdrop true
}
workspace "scratch" {
    open-on-output "eDP-1"
}
window-rule {
    match app-id="^Spotify|mpv|org.kde.dolphin|yazi|float-kitty|termfilechooser$"
    open-on-workspace "scratch"
    open-floating true
    default-floating-position relative-to="top" x=10 y=10
    open-focused false
    open-on-output "eDP-1"
}
window-rule {
    match app-id="yazi"
    match app-id="Spotify"
    open-on-workspace "scratch"
    open-floating true
    open-focused false
    default-column-width {
        fixed 1257
    }
    default-window-height {
        fixed 936
    }
    default-floating-position relative-to="top" x=10 y=10
    open-on-output "eDP-1"
}
window-rule {
    match app-id="float-kitty"
    open-on-workspace "scratch"
    open-floating true
    open-focused false
    default-column-width {
        fixed 1300
    }
    default-window-height {
        fixed 1036
    }
    default-floating-position relative-to="top" x=10 y=10
}
spawn-sh-at-startup "dolphin"
spawn-sh-at-startup "spotify"
spawn-sh-at-startup "kitty --app-id yazi -e yazi"
spawn-sh-at-startup "kitty --app-id float-kitty"
binds {
    Mod+T hotkey-overlay-title="Lock Screen" {
        spawn "nscratch" "-s" "dolphin" "-id" "org.kde.dolphin"
    }
    Mod+Shift+Return {
        spawn "nscratch" "-s" "kitty --app-id float-kitty" "-id" "float-kitty"
    }
    Mod+Shift+K {
        spawn "nscratch" "-s" "kitty --app-id yazi -e yazi" "-id" "yazi"
    }
    Mod+Shift+M {
        spawn "nscratch" "-s" "mpv" "-id" "mpv"
    }
    Mod+Ctrl+S {
        spawn "nscratch" "-s" "spotify" "-id" "Spotify"
    }
    Ctrl+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn "noctalia" "msg" "session" "lock"
    }
    Mod+W hotkey-overlay-title="Wallpaper Browser" {
        spawn "noctalia" "msg" "panel-toggle" "wallpaper"
    }
    Mod+B hotkey-overlay-title="Wallpaper Browser" {
        spawn "noctalia" "msg" "panel-toggle" "control-center"
    }
    Mod+Backspace hotkey-overlay-title="Power Toggle" {
        spawn "noctalia" "msg" "panel-toggle" "session"
    }
    Mod+M hotkey-overlay-title="Dashboard: Toggle" {
        spawn "noctalia" "msg" "panel-toggle" "launcher"
    }
    Mod+N hotkey-overlay-title="Bar: Toggle (Primary)" {
        spawn "walker"
    }
    Mod+V hotkey-overlay-title="Clipboard: Toggle" {
        spawn "noctalia" "msg" "panel-toggle" "clipboard"
    }
    Mod+X hotkey-overlay-title="Power Menu: Toggle" {
        spawn "dms" "ipc" "call" "powermenu" "toggle"
    }
    XF86MonBrightnessDown hotkey-overlay-title="Brightness Down (10%)" {
        spawn "noctalia" "msg" "brightness-down"
    }
    XF86MonBrightnessUp hotkey-overlay-title="Brightness Down (10%)" {
        spawn "noctalia" "msg" "brightness-up"
    }
    Mod+D {
        spawn "fuzzel"
    }
    Mod+E {
        spawn "sh" "-c" "notify-send" "'Browsing" "Time'" "&&" "firefox-nightly"
    }
    Mod+I {
        spawn "fuzzel-clip"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "noctalia" "msg" "volume-down"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "noctalia" "msg" "volume-mute"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "noctalia" "msg" "volume-up"
    }
    Ctrl+Alt+K {
        spawn "info.febvre.Komikku"
    }
}

