cursor {
    xcursor-theme "Yuurei-Angel"
    xcursor-size 36
}
output "eDP-1" {
    scale 1
    position x=0 y=0
    focus-at-startup
}
layer-rule {
    match namespace="dms:blurwallpaper"
    match namespace="^noctalia-shell$"
    match namespace="noctalia-shell:wallpaper"
    place-within-backdrop true
}
workspace "stash" {
    open-on-output "eDP-1"
}
spawn-sh-at-startup "niri-scratchpad daemon"
binds {
    Ctrl+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn "noctalia" "msg" "session" "lock"
    }
    Mod+B hotkey-overlay-title="Wallpaper Browser" {
        spawn "noctalia" "msg" "panel-toggle" "wallpaper"
    }
    Mod+Backspace hotkey-overlay-title="Power Toggle" {
        spawn "noctalia" "msg" "panel-toggle" "session"
    }
    Mod+M hotkey-overlay-title="Dashboard: Toggle" {
        spawn "noctalia" "msg" "panel-toggle" "control-center"
    }
    Mod+N hotkey-overlay-title="Bar: Toggle (Primary)" {
        spawn "walker"
    }
    Mod+V hotkey-overlay-title="Clipboard: Toggle" {
        spawn "noctalia" "msg" "panel-toggle" "clipboard"
    }
    Mod+X hotkey-overlay-title="Power Menu: Toggle" {
        spawn "dms" "ipc" "call" "powermenu" "toggle"
    }
    XF86MonBrightnessDown hotkey-overlay-title="Brightness Down (10%)" {
        spawn "noctalia" "msg" "brightness-down"
    }
    XF86MonBrightnessUp hotkey-overlay-title="Brightness Down (10%)" {
        spawn "noctalia" "msg" "brightness-up"
    }
    Mod+D {
        spawn "fuzzel"
    }
    Mod+E {
        spawn "sh" "-c" "notify-send" "'Browsing" "Time'" "&&" "firefox-nightly"
    }
    Mod+I {
        spawn "fuzzel-clip"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "noctalia" "msg" "volume-down"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "noctalia" "msg" "volume-mute"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "noctalia" "msg" "volume-up"
    }
    Mod+T {
        spawn "dolphin"
    }
    Ctrl+Alt+K {
        spawn "info.febvre.Komikku"
    }
}

